.title {
    font-weight: bold;
    font-size: 22px;
    margin-left: 60px;
    margin-top: 20px;
}


.instruction {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 20px;
}

.container {
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    margin: 12px 0;
}
.correct-box {
    width: 160px;
    padding: 5px;
    border: 2px solid #aaa;
    font-size: 20px;
    margin-left: 10px;
    color: red;
    text-align: center;
    border-radius: 4px;
}

.formula-1{
    margin-left: -23px;
}
    

.formula-2 {
    font-size: 25px;
    margin-left: 10px;
}

.formula-3 {
    font-size: 25px;
    margin-left: 8px;
    margin-top: 10px;
}
.formula-4 {
    font-size: 25px;
    margin-top: 10px;
    margin-left: -29px;
}
.formula-5 {
    font-size: 25px;
    margin-top: 10px;
    margin-left: 17px;
}

.correct-box {
    width: 160px;
    padding: 5px;
    border: 2px solid #000000;
    font-size: 20px;
    margin-left: 25px;
    color: red;
    text-align: center;
    border-radius: 0;
}


.dropzone-1 {
    width: 180px;
    height: 33px;

    margin-top: -22px;
    margin-left: -480px;
    padding: 3px;
    font-size: 24px;
    
    text-align: center;
}
.dropzone-2 {
      width: 160px;
      margin-top: -22px;
    height: 33px;
    margin-left: -510px;
    padding: 3px;
    font-size: 24px;
    text-align: center;
    outline: none;

}
.dropzone-3 {
      width: 160px;
      margin-top: -20px;
    height: 33px;
    margin-left: -480px;
    padding: 3px;
    font-size: 22px;
    text-align: center;
}
.dropzone-4 {
      width: 100px;
    margin-top: -22px;
    height: 33px;
    margin-left: -380px;
    padding: 3px;
    font-size: 22px;
    text-align: center;
}
.dropzone-5 {
      width: 160px;
      margin-top: -22px;
    height: 33px;
    margin-left: -500px;
    padding: 3px;
    font-size: 27px;
    text-align: center;
}




.choices-box {
    width: 350px;
    height: 70px;
    border: 5px solid #9AC75E;
    padding: 20px;
    margin: 30px 0 20px 80px;
    border-radius: 10px;
    text-align: center;
}

.choice {
    display: inline-block;
    margin: 10px;
    margin-top: -4px;
    font-size: 25px;
    cursor: grab;
}

.choice.dragging {
    opacity: 0.5;
}

.correct {
    border: 3px solid green !important;
}

.wrong {
    border: 3px solid red !important;
}

.judgement_btn {
    position: absolute;
    left: 580px;
    top: 480px;
    cursor: pointer !important;
}
.formula-1 {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 25px;
        }

        /* Fraction styling */
        .fraction {
            font-size: 21px;
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            vertical-align: middle;
            margin: 0 5px;
            margin-left: 34px;
        }
        .fraction .numerator {
            padding: 0 5px 2px 5px;
            border-bottom: 2px solid #000;
        }

        
        