 




.title {
    font-size: 25px;
    font-weight: bold;
    margin: 20px;
     margin-left: 80px;
}
.yellowbox {
    width: 96%;
    height: 19%;
  margin-left: 2%;
}
.question-container {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-top: 1;
  
}

.question-text {
    margin-bottom: 800px;
    font-size: 1.4em;
    margin-right: 22%;
    
    margin: 1;
}

.instruction-text {
      font-size: 1.4em;
    
    margin: 0;
    margin-bottom: -5%;
}




.judgement_btn{
    position: absolute;
    left: 550px; top: 450px;
}

.judgement_btn:hover {
    cursor: pointer !important;
    
}

.judgement_btn:active {
    cursor: pointer !important;
}  
    

.shape1-img {
    cursor: pointer;
    border: 4px solid transparent;
    border-radius: 10px;
    margin-bottom: 360px;
    margin-top: 2%;
    width: 25%;
    height: 25%;
    margin-left: 5px;
   

}
.shape1-img.selected {
    border: 4px solid #ffcc00; /* yellow outline */
}
.shape1-wrapper {
    position: relative;       /* important */
    display: inline-block;
    margin-top: 30%;
}
.shape2-img {
    cursor: pointer;
    border: 4px solid transparent;
    border-radius: 10px;
    margin-bottom: 359px;
    top: 20%;
    margin-left: 5%;
    width: 25%;
    height: 25%;
}
.shape2-img.selected {
    border: 4px solid #ffcc00; /* yellow outline */
}
.shape2-wrapper {
    position: relative;       /* important */
    display: inline-block;
}

.shape3-img {

     cursor: pointer;
    border: 4px solid transparent;
    border-radius: 10px;
    margin-bottom: 360px;
    margin-left: 2%;
    width: 25%;
    height: 25%;
}
.shape3-img.selected {
    border: 4px solid #ffcc00; /* yellow outline */
}

.shape3-wrapper {
    position: relative;       /* important */
    display: inline-block;
}
.shape4-img{
     cursor: pointer;
    border: 4px solid transparent;
    border-radius: 10px;
    
    margin-top: -47%;
    width: 25%;
    height: 25%;
    margin-left: 1%;
} 
.shape4-img.selected {
    border: 4px solid #ffcc00; /* yellow outline */
    
}
.shape4-wrapper {
    position: relative;       /* important */
    display: inline-block;
}

.shape5-img {
    cursor: pointer;
    border: 4px solid transparent;
    border-radius: 10px;
    width: 25%;
    height: 25%;
    display: block;
    margin-bottom: -4%;
    margin-top: -47%;
    margin-left: 32%;
}
.shape5-img.selected {
    border: 4px solid #ffcc00; /* yellow outline */
}


.yellow-box {
    background-color:#feffc4;          /* light yellow background */     /* Light yellow */
    border: 3px solid #e6b411;      /* Dark yellow/gold border */
    padding: 10px 10px;
    width: auto;
    border-radius: 12px;            /* Smooth rounded corners */
    font-size: 20px;
    line-height: 1.4;
    max-width: 89%;
    margin-left: 20px;
    font-family: Arial, sans-serif;
}

.title1 {
    margin-left: 100px;
    font-size: 1.em;
    margin: 0;
    font-weight: bold;
}
.title2 {
    margin-right: -189px;
    font-size: 1.em;
    margin: 0;
    font-weight: bold;
}
.letter1-box {
  position: absolute;
    top: 20px;                /* move up/down */
    left: 25px;               /* move left/right */

    width: 40px;
    height: 35px;
    background: #f1c232;
    border: 2px solid #e0a800;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, sans-serif; 
    z-index: -100;    /* small rounding like screenshot */
  
}
.letter2-box{
      position: absolute;
    top: 29px;                /* move up/down */
    ;               /* move left/right */

    width: 40px;
    height: 35px;
    background: #f1c232;
    border: 2px solid #e0a800;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, sans-serif; 
    z-index: -100;  

}
.letter3-box{
  position: absolute;
    top: 17px;                /* move up/down */
    left: 2px;               /* move left/right */

    width: 40px;
    height: 35px;
    background: #f1c232;
    border: 2px solid #e0a800;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, sans-serif; 
    z-index: -100;  
}

/* Smooth blinking animation for yellow-box during case 3 */
@keyframes smooth-blink {
    0% {
        border: 3px solid #e6b411;
        box-shadow: 0 0 0px transparent;
    }
    50% {
        border: 5px solid #ff6600;

    }
    100% {
        border: 3px solid #e6b411;
        box-shadow: 0 0 0px transparent;
    }
}

.yellow-box.blink-outline {
    animation: smooth-blink 1s ease-in-out infinite;
}
